// styles for desktop screens
@media only screen and (min-width: 900px){
    
    .navbar{
        justify-content: space-between;

        &__name{
            display: inline-block;
            font-weight: 300;
        }
    }

    .intro{
        &__content{
            height: 80vh;
            padding-bottom: 10vh;
        }
        &__text{
            min-height: 20vh;
            
            #intro__greeting{
                font-size: 48px;
            }
            
            p{
                font-size: 32px;
            }
        }
    }
    
    .block-header{
        height: 10vh;
    }
    
    .block-title{
        display: flex;
        align-items: center;
        align-self: flex-start;
        margin-left: 37px;
        height: 10vh;
    }
    
    .title{
        font-size: 24px;
        color: #E7E7E7;
    }
    
    .projects {
    
        &__big-cards-list{
            width: 100%;
        }
    
        &__small-cards-list{
            column-count: 3;
        }
    }
    
    .big-card{
        flex-direction: row;
        margin-bottom: 75px;

        &__imgs{
            position: relative;
            width: 100%;
            margin-bottom: 30px;
        }
        
        &__desktop{
            width: 90%;
        }
    
        &__content{
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 60px;
        }
    
        &__name{
            margin-bottom: 5%;
        }
    
        &__info{
            font-size: 16px;
            -webkit-line-clamp: 9;
        }
    }
    
    .small-card{
        display: inline-block;
        width: 100%;
        min-height: 250px;
        background-color: #141B28;
        padding: 20px 25px;
        box-shadow: 0px 2px 25px 2px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        margin-bottom: 30px;
    
        &__header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
    
        &__name{
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 20px;
        }
    
        &__info{
            margin-bottom: 20px;
        }
    
        &__foooter{
            outline: none;
            margin: 10px 0;
            width: 30 auto;
            overflow: hidden;
        }
    
        &__external-link{
            cursor: pointer;
        }
    }
    
    .technology-tag{
        counter-increment: technology-tag;
        display: inline-block   ;
        width: auto;
        font-size: 13px;
        font-weight: 200;
        padding: 5px 8px;
        margin: 3px;
        background: #1D2534;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
    }
    
    .about {
        padding: 0 25px;
    
        &__background-info{
            display: grid;
            grid-template-columns: 1.5fr 3fr;
            margin-bottom: 40px;
        }

        &__title{
            display: flex;
            justify-content: center;
        }
    
        &__text{
            p{
                font-size: 17px;
            }
        }
        &__skills{
            display: grid;
            grid-template-columns: 1.5fr 3fr;
        }
    
        &__skills-lists{
            grid-template-columns: 1fr 1fr 1fr;
            
        }
    }

    .hide{
        display: none;
    }
    
    .skills-block{
        margin-right: 50px;
    
    
        &__skills{
            font-size: 17px;
        }
    }
}


@media only screen and (min-width: 1240px){
    .wrapper{
        max-width: 1240px;
    }

    .hide{display: inline-block;}

    .big-card{
        flex-direction: row;
        margin-bottom: 75px;

        &__imgs{
            position: relative;
            width: 100%;
            margin-bottom: 30px;
        }
        
        &__desktop{
            width: 90%;
        }
    
        &__content{
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 60px;
        }
    
        &__name{
            margin-bottom: 42px;
        }
    
        &__info{
            font-size: 18px;
            -webkit-line-clamp: 9;
        }
    }

}