// mobile first styles
*{
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Inconsolata', monospace;
    color: #E7E7E7;
    /* background-color: #171c28; */
    background-image: url('../img/intro.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.wrapper{
    max-width: 95vw;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 25px;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;

    &__name{
        display: none;
    }

    &__links{
        display: none;
    }
}

.intro{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15vh;
        height: 75vh;
    }

    &__text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 10vh;
        
        #intro__greeting{
            font-size: 28px;
        }
        
        p{
            font-size: 18px;
        }
    }
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;

    &__big-cards-list{
        width: 100%;
    }

    &__small-cards-list{
        width: 100%;
        column-count: 1;
        column-gap: 30px;
    }
}

.title{
    font-size: 20px;
    color: #E7E7E7;
}

.block-header{
    display: flex;
    align-items: center;
    height: 7vh;
}

.block-title{
    display: flex;
    font-size: 18px;
    align-items: center;
    align-self: flex-start;
    height: 7vh;
}

.big-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;

    &__imgs{
        position: relative;
        width: 100%;
        margin-bottom: 30px;
    }
    
    &__desktop{
        width: 90%;
    }

    &__content{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__mobile{
        width: 25%;
        position: absolute;
        right: 0%;
        bottom: -4%;
    }

    &__name{
        font-weight: bold;
        margin-bottom: 5%;
    }

    &__info{
        font-size: 15px;
        width: 100%;
        overflow: hidden;
        text-overflow:ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
    }
}

.small-card{
    display: inline-block;
    width: 100%;
    min-height: 250px;
    background-color: #141B28;
    padding: 20px 25px;
    box-shadow: 0px 2px 25px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin-bottom: 30px;

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    &__name{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    &__info{
        margin-bottom: 20px;
    }

    &__foooter{
        outline: none;
        margin: 10px 0;
        width: 30 auto;
        overflow: hidden;
    }

    &__external-link{
        cursor: pointer;
    }
}

.technology-tag{
    counter-increment: technology-tag;
    display: inline-block   ;
    width: auto;
    font-size: 13px;
    font-weight: 200;
    padding: 5px 8px;
    margin: 3px;
    background: #1D2534;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    cursor: default;
    user-select: none;
}

.about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;

    &__content{
        width: 100%;
    }

    &__title{
        display: none;
    }

    &__text{
        p{
            margin-bottom: 10px;
            font-size: 15px;
            font-weight: 200;
        }
    }

    &__skills-lists{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.skills-block{
    display: inline-block;
    margin-bottom: 20px;

    &__header{
        font-weight: bold;
        margin-bottom: 20px;
    }

    &__skills{
        list-style-type: none;
        padding: 0;
        font-size: 15px;
        font-weight: 200;
    }
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__social-media{
        list-style-type: none;
        display: flex;
        padding: 0;
        min-width: 330px;
        justify-content: space-evenly;
        li > a{
            color: #E7E7E7;
            outline: none;
        }
    }

    &__footer{
        margin: 12px 0;
    }
}


// styles for tablets
@media only screen and (min-width: 576px){
    .projects{
        &__small-cards-list{
            column-count: 2;
        }
    }

    .navbar{

        &__links{
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-width: 25%;
        }

        &__burger-button{
            display: none;
        }

        &__link {
            text-decoration: none;
            font-weight: regular;
            margin: 0 1.5vw;
        }
    }
}