
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inconsolata', monospace;
    color: #E7E7E7;
    /* background-color: #171c28; */
    background-image: url('./img/intro.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#intro{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper{
    max-width: 1240px;
    height: 100vh;
    margin:  auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    height: 10vh;
}
.navbar-link {
    text-decoration: none;
    font-size: 24px;
    color: #E7E7E7;
    font-weight: regular;
    margin: 0 1.5vw;
}

.block-name{
    display: flex;
    align-items: center;
    height: 10vh;
}

.block-title{
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-left: 37px;
    height: 10vh;
}



.navbar_links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 25%;
    max-width: 33%;
}

.name{
    font-weight: 300;
}

.intro_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10vh;
    height: 80vh;
}

#greeting{
    font-size: 48px;
}

.text > p{
    font-size: 32px;
    font-weight: regular;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 20vh;
}

#about {
    height: 100vh;
    /* background-image: url('./img/about.png');
    background-size: cover;
    background-position: center; */
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /* background-image: url('./img/projects.png');
    background-size: cover;
    background-position: center; */
}

.big-project-cards-list{
    padding: 0 25px;
    width: 100%;
}
.big-project-card{
    display: flex;
    justify-content: space-between;
}

.big-project-card-content{
    width: 495px;
}

.mobile{
    position: relative;
    left: -90px;
    bottom: -15px;
}